<h1>Editing Professional</h1>

<%= render 'form' %>

<%= link_to 'Show', @professional %> |
<%= link_to 'Back', professionals_path %>
<%= link_to 'Delete Account', @professional, method: :delete, data: { confirm: 'Are you sure?' } %>
