<h1>Editing Customer</h1>

<%= render 'form' %>

<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>
<td><%= link_to 'Delete Profile', @customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
