<div class="footer">
	<div class="container">
		<div class="text-center footer-text">
			<h4>Follow us on social media</h4>
			<ul class='list-inline'>
	 			<li>
	 				<a href='index.html'><img src="<%= asset_path('img/twitter-iso-white.png') %>" alt="Twitter Icon"></a>
	 			</li>
	 			<li>
	 				<a href='tickets.html'><img src="<%= asset_path('img/facebook-iso-white.png') %>" alt="Facebook Icon"></a>
	 			</li>
	 			<li>
	 				<a href='stations.html'><img src="<%= asset_path('img/linkedin-iso-white.png') %>" alt="LinkedIn Icon"></a>
	 			</li>
	 		</ul>
		</div>
	</div>
</div>
