  <div id="header" class="row">
      <header>
          <div class="col-sm-4">
              <%= link_to root_path do %>
                 <img id="" src=<%= asset_path('TipTrollLogo.jpg')%>/>
            <% end %>
        </div>
          <div class="col-sm-8">

            <button type="button" class="btn btn-success"><%= link_to 'Home', root_path %></button>
          </div>

      </header>
  </div>
